*{
    margin:0;
    padding: 0;
}
.conntact_us {
 background-color: rgba(36, 40, 67, 1);
 font-size: 0.75em;
 box-sizing: border-box;
}

.conntact_us .massage_box {
    width: 60%;
    display: inline-block;
    border-bottom: 1px solid #5B5A5A;
    border-right: 1px solid #5B5A5A;
    padding: 3.3rem; 
    box-sizing: border-box;
    margin: 0;
}
.conntact_us  .name{
    display: inline-block;
}
.conntact_us .email{
    display: inline-block;
}
.conntact_us  .massage_box  input{
    height: 2rem;
    width: 19.5em;
    background-color: #2b2f4a;
    border:1px solid #2b2f4a;
    margin-bottom: 2rem;
    margin-right: 3rem;
  }

.conntact_us .massage_box textarea{
    width: 80%;
    height: 10rem;
    /* prevent to user manually resize text area 👇 */
    resize: none;
    margin-bottom: 2rem;
    background-color: #2b2f4a;
    border:1px solid #2b2f4a;
}
.conntact_us .submit{
    display: inline-block;
}
.conntact_us .reset{
    display: inline-block;
}
.conntact_us .submit input{
    width: 10rem;
    background-color: white;
}
.conntact_us .reset input{
    width: 6rem;
    color: white;
    margin-left: -2rem;
}
.conntact_us .conntact_us_info {
    width: 39.7%;
    display: inline-block;  
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
.conntact_us .conntact_us_info .fa{
    font-size: 1rem;
    display: inline_block;
    padding-left:2rem;
    margin:0;
}
 .conntact_us .conntact_us_info  div{
     display: inline-block;
     width: 100%;
     border: 1px solid #5B5A5A; 
     padding: 2.5rem; 
     margin:0;
 }
 .conntact_us .conntact_us_info h3{
    display: inline-block;
    padding-bottom: 0.36rem;
    width:7rem;
    padding-left: 1rem;
}
 .conntact_us .conntact_us_info p{
  font-size: 0.7rem;
  padding-left: 4rem;
}

@media screen and (max-width: 768px) {
    .conntact_us .massage_box ,
    .conntact_us .conntact_us_info{
        width: 100%;
        height: auto;
        background-color:rgba(36, 40, 67, 1); 
    }
}