*{
    margin:0;
    padding: 0;
}
.conntact_us {
 background-color: rgba(36, 40, 67, 1);
 height: 25rem;
 font-size: 0.75em;
 box-sizing: border-box;
}

.conntact_us .form {
    width: 60%;
    height: 25rem;
    display: inline-block;
    border-bottom: 1px solid #5B5A5A;
    border-right: 1px solid #5B5A5A;
    padding: 3.3rem; 
}
.conntact_us .form .name{
    display: inline-block;
}
.conntact_us .form .email{
    display: inline-block;
}
.conntact_us  .form  input{
    height: 2rem;
    width: 19.5em;
    background-color: #2b2f4a;
    border:1px solid #2b2f4a;
    margin-bottom: 2rem;
    margin-right: 3rem;
  }

.conntact_us  textarea{
    width: 80%;
    height: 10rem;
    /* prevent to user manually resize text area 👇 */
    resize: none;
    margin-bottom: 2rem;
    background-color: #2b2f4a;
    border:1px solid #2b2f4a;
}
.conntact_us .send_button{
    display: inline-block;
}
.conntact_us .reset_button{
    display: inline-block;
}
.conntact_us .send_button input{
    width: 10rem;
    background-color: white;
}
.conntact_us .reset_button input{
    width: 6rem;
    color: white;
    margin-left: -2rem;
}
.conntact_us .about_us {
    width: 39.5%;
    height: 25rem;
    display: inline-block;  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conntact_us .about_us .fa{
    font-size: 1rem;
    display: inline_block;
    padding-left:2rem;
    margin:0;
}
 .conntact_us .about_us  div{
     display: inline-block;
     width: 100%;
     height: 8.33rem;
     border-bottom: 1px solid #5B5A5A; 
     padding-top: 2rem; 
 }
 .conntact_us .about_us h3{
    display: inline-block;
    padding-bottom: 0.36rem;
    width:7rem;
    padding-left: 1rem;
}
 .conntact_us .about_us p{
  font-size: 0.7rem;
  padding-left: 4rem;
}

@media screen and (max-width: 768px) {
    .conntact_us .form ,
    .conntact_us .about_us{
        width: 100%;
        height: auto;
        background-color:rgba(36, 40, 67, 1); 
    }
}