
[class*="products-"] {
    display: inline-block;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

[class*="color-"] {
    display: inline-block;
    width: 100%;
}

.product{
    display: inline-block;
    width: 100%;
    box-sizing: content-box;
}

.product .largbox{
    width:60%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.product .smallbox{
    width:40%;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.product .products-1{
    background-image: url(../image/man.jpg);
 }

 .product .color-1{
    background-color: rgba(102, 204,187, 0.8) ;}

 .product .products-2{
    background-image: url(../image/street.jpg);}

 .product .color-2{  
    background-color: rgba(126,118,178, 0.8) ; }

 .product .products-3{
    background-image: url(../image/mountain.jpg); }

 .product .color-3{  
    background-color: rgba(229,146,119, 0.8) ; }

 .product .products-4{
    background-image: url(../image/volf.jpg);}

 .product .color-4{  
    background-color: rgba(222,180,142, 0.8) ; }

 .product .products-5{
    background-image: url(../image/Escalator.jpg);
}

 .product .color-5{  
    background-color: rgba(128,150,207, 0.8) ; }

 .product .products-6{
    background-image: url(../image/girl.jpg); }

 .product .color-6{  
    background-color: rgba(132,181,159, 0.8) ; }

 .product h2{
    width:7em; 
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid white;
    padding-bottom:0.360rem; 
    box-sizing: border-box;
    margin:6.800rem 4.800rem 1rem 3rem;   
}

.product p{
    font-size: 0.6rem;
    margin:1rem 4.800rem 6rem 3rem;  
}

@media screen and (max-width: 768px) { 
   .product h2{
        font-size: 0.75rem;
        margin-left: 3.5rem;
    }

    .product p{
        margin-left: 3.5rem;
    }

    .product .smallbox {
        width: 100%;
        height: auto;
    }

    .product .largbox {
        width: 100%;
        height: auto;
    }

}